{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
    <style>
        /* Individual styling for the form */
        .form-container {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f2f2f2;
            text-align: center; /* Center-align the form */
        }

        .recipe-requirement-form {
            display: inline-block; /* Keep the form inline within the container */
            text-align: left; /* Align form elements to the left */
        }

        .recipe-requirement-form input[type="text"],
        .recipe-requirement-form textarea {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        .submit-button,
        .cancel-button {
            background-color: #27ae60;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin: 5px; /* Add some margin between the buttons */
        }

        .submit-button:hover,
        .cancel-button:hover {
            background-color: #218c53; /* Darker green for hover effect */
        }
    </style>

    <h2 align="center">Add Product</h2>
    <div class="form-container">
        <form method="POST" class="add-stock-form">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add to Stock" class="submit-button">
            <input type="button" value="Cancel" class="cancel-button" onclick="window.history.back();">
        </form>
    </div>
{% endblock %}
