{% extends "inventory/base.html" %}
{% load static %}
{% block content %}
<h2 align="center">Current Stock</h2>
<style>
    /* Container styling */
    .menu-container {
        width: 45%;
        margin: 20px auto;
        padding: 0px;

    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        border: 1px solid #ddd; /* Add border around the entire table */
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #27ae60;
    }
</style>

<!-- Container div for the inventory table -->  
<p align="center"><a href="{% url 'add_new_product' %}">Add New Product</a></p>
<p align="center"><a href="{% url 'add_stock' %}">Add Stock to an existing Item in the Inventory</a></p>
<div class="menu-container">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Stock</th>
                <th>Price per Unit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for ingredient in object_list %}
                <tr>
                    <td><a href="{% url 'update_product' pk=ingredient.pk %}">{{ ingredient.name }}</a></td>
                    <td>{{ ingredient.stock_unit }}</td>
                    <td>{{ ingredient.full_price}}</td>
                    <td><a href="{% url 'delete_ingredient' pk=ingredient.pk%}">Delete the Ingredient</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}