{% extends "inventory/base.html" %}
{% load static %}

{% block content %}
    <style>
        /* Styling for the signup form */
        .form-container {
            width: 50%;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f2f2f2;
            text-align: center; /* Center-align the form */
        }

        .signup-form {
            text-align: left; /* Align form elements to the left */
        }

        .signup-form input[type="text"],
        .signup-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 8px 0;
            box-sizing: border-box;
        }

        /* Center-align the buttons */
        .submit-button,
        .cancel-button {
            background-color: #27ae60;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            margin: 5px; /* Add some margin between the buttons */
        }

        .submit-button:hover,
        .cancel-button:hover {
            background-color: #218c53; /* Darker green for hover effect */
        }

        /* Center-align buttons within the form container */
        .button-container {
            text-align: center;
        }
    </style>

    <h2 align="center">Sign Up</h2>
    <div class="form-container">
        <form method="post" class="signup-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="button-container">
                <button type="submit" class="submit-button">Sign Up</button>
                <button type="button" class="cancel-button" onclick="window.location.href='{% url 'login' %}';">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}
